#RewriteEngine On
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteRule . index.php [L]

# BEGIN HTTPS
RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]
# END HTTPS